# Yarn Classic (v1) Configuration

save-prefix ""
registry "https://registry.npmjs.org/"
network-timeout 60000
disable-self-update-check true
init-license "MIT"
init-version "0.1.0"
version-tag-prefix "v"
